.layout {
    .container {
        position: fixed;
        top: 0;
        bottom: 50px;
        left: 0;
        right: 0;
    }

    .footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0;
        right: 0;
    }
}